<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>@ViewData["Title"] - Minha App Modelo</title>

    <!-- Ambiente de Teste -->
    <environment include="Development">
        <link href="~/lib/bootstrap/css/bootstrap.css" rel="stylesheet" />
        <link href="~/lib/font-awesome/css/fontawesome.css" rel="stylesheet" />
    </environment>

    <!-- Ambiente de Produção -->
    <environment exclude="Development">
        link de CDN
    </environment>

</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" asp-controller="Home" asp-action="Index">Navbar</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item active">
                        <a class="nav-link" asp-controller="Home" asp-action="Index">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-area="Produtos" asp-controller="Cadastro" asp-action="Index">Cadastro</a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            Minha App Modelo - <email email-domain="gmail.com">contato</email>
            Minha App Modelo - <email>contato2</email>
        </div>
    </footer>

    <!-- Ambiente de Teste -->
    <environment include="Development">
        <script src="~/lib/jquery/jquery.js"></script>
        <script src="~/lib/bootstrap/js/bootstrap.js"></script>
    </environment>

    <!-- Ambiente de Produção -->
    <environment exclude="Development">
        link de CDN
    </environment>

</body>
</html>